html{
  font-family:sans-serif;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}

* {
    box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  /*background-color: #e9eded; */
  background-color: #000; 
}

#wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 960px;
  background-color: #3C3C3C;
  color: #e9eded;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* MAP */

svg.map-container {
  background-color: #565656;
}

#object, #map {
  margin: 0 auto;
  width: 960px;
}

.tile polygon {
  fill: #dde4d7;
  pointer-events: visiblepainted;
  stroke: #B2B2B2;
  stroke-width: 0.5;
}

.tile:hover polygon {
  fill: #00ADEE;
}