<h1>Hexgrid</h1>
<section 
	id="horizontal-map" 
	ng-controller="MapCtrl as mapC"
	ng-init="mapC.init('horizontal',18,12,'pointy',0,25)" ng-cloak>
	<h2>Vertical layout ({{mapC.map.dimensions.y}} x {{mapC.map.dimensions.x}})</h2>
	<svg class="map-container" height="{{mapC.map.size.height + 57}}" width="{{mapC.map.size.width + 53.5}}">
		<g class="inner-map" transform="translate({{mapC.map.offset.x}},{{mapC.map.offset.y}})">
			<g class="tile" transform="translate({{hextile.x}},{{hextile.y}})" ng-repeat="hextile in mapC.mapArray">
				<polygon points="{{mapC.tile.pointsString}}"></polygon>
			</g>
		</g>
	</svg>
</section>

<section 
	id="vertical-map" 
	ng-controller="MapCtrl as mapC"
	ng-init="mapC.init('vertical',6,6,'flat')" ng-cloak>
	<h2>Vertical layout ({{mapC.map.dimensions.y}} x {{mapC.map.dimensions.x}})</h2>
	<svg class="map-container" height="{{mapC.map.size.height + 49.5}}" width="{{mapC.map.size.width + 60}}">
		<g class="inner-map" transform="translate({{mapC.map.offset.x}},{{mapC.map.offset.y}})">
			<g class="tile" transform="translate({{hextile.x}},{{hextile.y}})" ng-repeat="hextile in mapC.mapArray">
				<polygon points="{{mapC.tile.pointsString}}"></polygon>
			</g>
		</g>
	</svg>
</section>
